#App {
  position:relative;
  width:100%; height:100%;
  background: url('./images/main_bg.jpg') no-repeat center 100%;
}
#App:before {
  content:''; position:absolute; top:0; left:0; width:100%; height:100%;
  background:#F24C38; opacity:0.7;
}

.main-wrap {
  overflow:hidden;
  position:absolute; top:50%; left:50%;
  transform:translate(-50%, -50%);
  max-width:1000px; width:100%;
  max-height:600px; height:100%;
  background:rgba(242,76,56,0.8);
  box-shadow:5px 5px 10px rgba(136,43,32,0.6);
}

.main-wrap:hover {}

.main-wrap .header {float:left; display:inline-block; padding:30px; width:50%; color:#fff; box-sizing:border-box;}
.main-wrap .header h1 {font-size:82px; font-family:"TmonMonsori"; text-shadow:0 3px 3px rgba(121,38,28,0.8);}
.main-wrap .header p {margin-top:10px; font-size:22px; font-family:"NanumBarunGothicBold"; text-shadow:0 2px 0 rgba(121,38,28,0.7);}

.main-wrap .setting-box {display:inline-block; padding:30px; width:50%; color:#fff; box-sizing:border-box;}
.main-wrap .setting-box ul {overflow:hidden; margin-bottom:50px;}
.main-wrap .setting-box ul li {position:relative; float:left; width:50%; height:60px; line-height:95px; text-align:center; font-size:12px; border-bottom:2px solid rgba(255,255,255,0.8); cursor:pointer;}
.main-wrap .setting-box ul li:first-child {background: url('./images/location_white.png') no-repeat center 5px; background-size:30px auto;}
.main-wrap .setting-box ul li:last-child {background: url('./images/bus_white.png') no-repeat center 5px; background-size:30px auto;}
.main-wrap .setting-box ul li:after {display:none; content:''; position:absolute; top:0; left:0; width:100%; height:100%; background:rgba(255,255,255,0.2);}
.main-wrap .setting-box ul li.active:after {display:block;}
.main-wrap .setting-box .location {position:relative;}
.main-wrap .setting-box form {font-family:"NanumBarunGothicBold";}
.main-wrap .setting-box form input {padding:12px 15px; width:100%; background:transparent; border: 1px solid rgba(255,255,255,0.8); color: #fff; font-size:16px; outline:none; box-sizing:border-box;}
.main-wrap .setting-box form input[type*="submit"] {margin-top:50px; transition:all 1s ease;}
.main-wrap .setting-box form input[type*="submit"]:hover {background:#fff; color:#333; transition:all 1s ease;}
.main-wrap .setting-box form .search-box {position:relative;}
.main-wrap .setting-box form .search-box .search-btn {position:absolute; top:0; right:0; background:transparent; border:0; cursor:pointer;}
.main-wrap .setting-box form .search-box .search-btn img {padding:5px; width:35px; height:auto;}
.main-wrap .setting-box form .search-box .search {padding-right:50px;}
.main-wrap .setting-box .location form .my-location {display:inline-block; margin:10px 0 20px; cursor:pointer;}
.main-wrap .setting-box .location form .my-location img {margin-right:5px; width:20px; height:auto;}
.main-wrap .setting-box .location form .my-location span {}

.main-wrap .setting-box .location #location-popup {display:none; position:absolute; top:45px; left:0; width:100%; z-index:100;}
.main-wrap .setting-box .location #location-popup.active {display:block;}





.main-wrap .setting-box .bus {}





.select{
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  color: #cccccc;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none;
}
.is-open .placeholder:after{
  content: '▲';
}
.is-open .select-ul{
  display: block;
}
.placeholder{
  position: relative;
  display: block;
  z-index: 1;
  cursor: pointer;
  overflow: hidden;
  padding: 12px 50px 12px 15px;
  width:100%;
  background:transparent;
  border: 1px solid rgba(255,255,255,0.8);
  color: #fff;
  font-size:16px;
  cursor: default;
  box-sizing: border-box;
}
.placeholder:after{
  position: absolute;
   right: 1em;
   top: 50%;
   transform: translateY(-50%);
   content: '▼';
   z-index: 10;
}

.select-ul{
  display: none;
  position: absolute;
  overflow: hidden;
  width: 100%;
  background: #fff;
  /*border-radius: 2px;*/
  top: 100%;
  left: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 100;
}
.select-li{
  display: block;
  width:100% !important;
  text-align: left !important;
  padding: 0 15px;
  height:40px !important;
  line-height:40px !important;
  color: #999;
  cursor: pointer;
  box-sizing:border-box;
}
.select-li:hover{
  background: #ddd !important;
  color: #333 !important;
}











/**/
