@charset "utf-8";

[hidden], area, base, basefont, command, datalist, head,input[type=hidden], link, menu[type=context], meta, noembed, noframes,param, script, source, style, track, title {display: none;/* case-insensitive */}
address, article, aside, blockquote, body, center, dd, dir, div, dl,dt, figure, figcaption, footer, form, h1, h2, h3, h4, h5, h6, header,hgroup, hr, html, legend, listing, menu, nav, ol, p, plaintext, pre,section, summary, ul, xmp{display:block;}
table{display:table;}
caption{display:table-caption;}
colgroup{display:table-column-group;}
col{display:table-column;}
thead{display:table-header-group;}
tbody{display:table-row-group;}
tfoot{display:table-footer-group;}
tr{display:table-row;}
td, th{display:table-cell;}
li{display:list-item;}

/*reset*/
body,div,p,h1,h2,h3,h4,h5,h6,ul,li,dl,dt,dd,ol,table,tr,th,td,caption,form,fieldset,input,select,textarea,blockquote,address{margin:0;padding:0;}
img,fieldset,iframe{border:0 none;}
h1,h2,h3,h4,h5,h6 {font-size:100%;}
address,em{font-style:normal;font-weight:normal;}
table{border-collapse:collapse;border-spacing:0px;}
input,textarea,select,button,table{font-size:inherit;font-family:inherit;line-height:inherit;}

/*base*/
body{font-family: "NanumBarunGothic", Arial, sans-serif; font-size:12px; color:#333; background:#fff;}
ul,ol,li{list-style:none;line-height:100%;}
a{color:inherit;text-decoration:none;}
a:hover, a:focus{text-decoration:underline;}
caption,legend{position:absolute; top:-5000px; width:0; height:0; line-height:0; text-indent:-5000px; visibility:hidden; font-size:0;}
textarea {resize:none;}
img{vertical-align:middle;}
hr{display:none;}

/*mobile*/
body{-webkit-text-size-adjust:none}
label{cursor:pointer;}

/*common class*/
.skip{position:absolute; top:-5000px; width:0; height:0; text-indent:-5000px; visibility:hidden; line-height:0; font-size:0;}
.hide{display:none;}
.space{height:20px; padding:0; text-indent:-50000px; font-size:10px; border:none;}

/*etc*/
::selection {background:#000; color:#fff;}


/*font family*/
@font-face{
	font-family:'NanumBarunGothicUltraLight';
	src:url('./fonts/NanumBarunGothicUltraLight.ttf');
}
@font-face{
	font-family:'NanumBarunGothicLight';
	src:url('./fonts/NanumBarunGothicLight.ttf');
}
@font-face{
	font-family:'NanumBarunGothic';
	src:url('./fonts/NanumBarunGothic.ttf');
}
@font-face{
	font-family:'NanumBarunGothicBold';
	src:url('./fonts/NanumBarunGothicBold.ttf');
}
@font-face{
	font-family:'TmonMonsori';
	src:url('./fonts/TmonMonsori.ttf');
}
@font-face{
	font-family:'TmonTium'; /* English */
	src:url('./fonts/TmonTium.ttf');
}
